.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    color: #000;
    opacity: 0;
    transition: 0.2s;
    text-align: left;
}
.modalContainer {
    display: grid;
    height: 100%;
    padding: 2rem 0;
}
.modalContent {
    width: 55%;
    min-width: 300px;
    background: #fff;
    padding: 2.5rem;
    border-radius: 1rem;
    position: relative;
    margin: auto;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.2s;
}
.Modal.active {
    opacity: 1;
}
.Modal.active .modalContent {
    transform: scale(1);
    opacity: 1;
}
.Modal button.exit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #aaa;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
@media (max-width: 900px) {
    .Modal button.exit {
        top: 1rem;
        right: 1.2rem;
    }
    .modalContainer {
        width: 100%;
    }
    .modalContent h2 {
        width: calc(100% - 1.5rem);
        font-size: 1.3rem;
    }
}
@media (max-width: 600px) {
    .modalContent {
        min-width: unset;
        width: 90vw;
        padding: 1.5rem;
    }
}

.WelcomeMessage div.dashboardURL {
    font-size: 0.9rem;
    text-align: center;
}
.WelcomeMessage div.dashboardURL strong {
    display: inline-block;
    border: 1px solid #ddd;
    background: #f7f7f7;
    padding: 1rem 2rem;
    margin: 0 auto 1rem;
}