@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
#demo {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
:root {
    --default-font: 'Work Sans', sans-serif;
    --display-font: 'Abril Fatface', serif;
    --deep-gradient: linear-gradient(135deg, #43a8a3, #75c964);
    --med-gradient: linear-gradient(135deg, #5ebbb6, #99da8c);
    --light-gradient: linear-gradient(135deg, #bbf5f2, #cdf3c7);
    --deep-theme-color: #238f8a;
    --med-theme-color: #58bbb6;
    --light-theme-color: #a2e0dd;
    --lighter-theme-color: #c9eceb;
    --caution: #c55a63;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}
b, strong {
    font-weight: 600;
}
a, a:visited {
    color: var(--deep-theme-color);
    font-weight: 600;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: var(--light-gradient);
    opacity: 0.7;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: bottom right;
    z-index: -1;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: 500;
}
button, select, textarea, input {
    font-family: inherit;
    outline: none;
}
input:not([type=submit]) {
    font-size: inherit;
    font-weight: inherit;
}
button, input[type=submit] {
    cursor: pointer;
    border: 0;
    background: var(--med-gradient);
    color: #fff;
    font-weight: normal;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    display: block;
    margin-top: 1.5rem;
}
button.stealth, .Sidebar button {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
}
button.greyed {
    background: #aaa;
}
button.caution {
    background: var(--caution);
}
.buttons {
    text-align: center;
    margin-top: 1rem;
}
.buttons button {
    display: inline-block;
    margin: 0;
}
.buttons button + button {
    margin-left: 1rem;
}
.nowrap {
    display: inline-block;
}
.nowrap::after {
    content: '';
    padding-left: 0.5ch;
}
.Home {
    padding: 5vw;
}
.Home h1, h1.display {
    font-family: var(--display-font);
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.Home button {
    background: var(--deep-gradient);
}
#root, .App {
    width: 100%;
    height: 100%;
}
.Dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 300px 350px 1fr;
    grid-template-areas: 'sidebar list editor';
}
.Dashboard .Sidebar {
    grid-area: sidebar;
    background: var(--med-theme-color);
    padding: 2rem;
    color: #fff;
}
.Dashboard .Panel {
    grid-column: 2 / -1;
    padding: 2rem;
    width: 65%;
}
.Dashboard .Notes {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 350px 1fr auto;
    grid-template-areas: 'list editor options';
}
.Dashboard .Editor {
    grid-area: editor;
    padding: 2rem;
}
.Dashboard .Options {
    grid-area: options;
    padding: 1rem;
    border-left: 1px solid #ccc;
    text-align: center;
}
button.newNote {
    margin: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.Dashboard .Options button {
    background: none;
    font-size: 1.2rem;
    color: #aaa;
    padding: 0;
    margin: 0 auto;
}
.Dashboard .Options button + button {
    margin-top: 1rem;
}
.Sidebar h1 {
    font-family: var(--display-font);
    font-size: 2.5rem;
    font-weight: normal;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 0.5rem var(--deep-theme-color);
}
.Sidebar nav + nav {
    margin-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 0.5rem;
}
.Sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.Sidebar button {
    font-weight: normal;
    margin: 1.5rem 0.5rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}
.Sidebar button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.2rem;
    grid-column: 1 / 2;
    margin-right: 0.5rem;
    transition: 0.2s;
}
.Sidebar button:hover::before {
    transform: scale(1.2);
    text-shadow: 0 0 0.5rem #fff;
}
button.notes::before {
    content: '\f01c';
}
button.collections::before {
    content: '\f02d';
}
button.tags::before {
    content: '\f02c';
}
button.starred::before {
    content: '\f005';
}
button.trash::before {
    content: '\f2ed';
}
button.user::before {
    content: '\f007';
}
button.settings::before {
    content: '\f013';
}
button.help::before {
    content: '\f059';
}
button.logout::before {
    content: '\f2f5';
}
.NoteEditor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
.NoteEditor input[type=text] {
    margin-bottom: 1rem;
    padding: 0;
    border: 0;
    background: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.EditorControls {
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    place-items: center;
    margin-bottom: 2rem;
}
.EditorControls hr {
    width: 1px;
    height: 1.5rem;
    background: #ddd;
    border: 0;
    margin: 0 1.5rem;
}
.EditorControls button {
    width: 1.5rem;
    height: 1.5rem;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
    color: #666;
    display: grid;
    place-items: center;
}
.EditorControls button.active {
    background: #ddd;
    border-radius: 0.2rem;
}
.EditorControls button + button {
    margin-left: 0.5rem;
}
.List {
    border-right: 1px solid #ccc;
    background: #f7f7f7;
}
.List .Header {
    padding: 1rem;
    padding-left: 1.5rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 5rem;
}
.List .Header div.h1 {
    grid-column: 1 / 2;
}
.List .Header h1 {
    margin: 0;
}
.List .Header div.button {
    grid-column: 2 / -1;
}
.List .NotePreviews {
    height: calc(100vh - 5rem);
    overflow: auto;
}
.NotePreview {
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #fff;
    transition: 0.2s;
}
.NotePreview.current, .NotePreview.temp {
    transform: translate3d(0, -0.2rem, 0);
    box-shadow: 0.2rem 0.2rem 1.5rem #ddd;
}
.NotePreview.temp {
    animation: 0.4s fadeIn 1;
}
.NotePreview h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.NotePreview span.excerpt {
    font-size: 0.9rem;
}
.NotePreview span.meta {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: #666;
}
.endofnotes {
    padding: 1rem 3rem;
    text-align: center;
    font-weight: normal;
    color: #aaa;
}
.Editable blockquote {
    margin: 0;
    margin-top: 1rem;
    border-left: 0.3rem solid #ddd;
    padding: 0.5rem 1rem;
    font-style: oblique;
    font-size: 0.9rem;
    color: #666;
}
.Editable blockquote + div {
    margin-top: 1rem;
}
.Editable blockquote + blockquote {
    margin-top: 0;
}
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    z-index: 999999;
    animation: 0.2s fadeIn 1;
}
.Modal.goodbye {
    animation: 0.2s fadeOut 1;
}
.Modal.goodbye .modalContainer {
    transform: scale(0.9);
}
.modalSpacer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}
.modalContainer {
    width: 29rem;
    margin: auto;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
    transition: transform 0.2s;
}
button.exit {
    position: absolute;
    top: 1rem;
    right: 1.3rem;
    font-size: 1.5rem;
    color: #aaa;
}
button.exit:hover {
    color: #666;
}
.Modal .buttons {
    margin-top: 1rem;
}
.Modal .buttons button {
    margin-top: 1rem;
}
.Loading {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.Loading svg circle {
    fill: var(--med-theme-color);
}
form label {
    font-size: 0.8rem;
    font-weight: normal;
    color: #666;
}
form input:not([type=submit]):not([type=checkbox]) {
    display: block;
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: 0.2s;
}
.Account {
    display: flex;
    flex-wrap: wrap;
}
.Account > div {
    flex: 0 0 100%;
    margin-top: 1rem;
}
.Account > div.half {
    flex: 0 1 calc(50% - 0.5rem);
    margin-top: 0;
}
.Account > div.half + div.half {
    margin-left: 1rem;
}
.Account .toc {
    margin-top: 1.5rem;
}
.deleteAccount {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    padding-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.deleteAccount .text {
    font-size: 0.8rem;
}
.deleteAccount strong {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 0.2rem;
}
.deleteAccount button {
    margin: 0;
    padding: 0.5rem 1rem;
}
form input:not([type=submit]):focus {
    border-color: var(--med-theme-color);
}
form .formCheck {
    margin-top: 0.5rem;
}
form .formCheck label {
    color: #000;
    font-weight: 300;
}
span.urlpreview {
    font-size: 0.8rem;
    display: block;
    margin-top: 0.3rem;
}
.Login {
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}
.Login > form {
    text-align: center;
}
.Login h1 {
    font-size: 5rem;
}
.Login .passwordProtected {
    display: inline-flex;
    place-items: center;
    margin-bottom: 1rem;
}
.Login .giantIcon {
    font-size: 1.5rem;
    color: #aaa;
    margin-right: 0.5rem;
}
.Login .passwordProtected p {
    margin: 0;
}
.Login div:not(.formCheck) label {
    display: block;
}
.Login form input[type=password] {
    width: 300px;
    max-width: 100%;
    margin: 0.4rem auto 0;
}