.Dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 'sidebar main' auto / 250px 1fr;
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    .Dashboard {
        grid-template-columns: 5rem 1fr;
    }
}
@media screen and (max-width: 600px) {
    .Dashboard {
        display: block;
        height: 100%;
    }
}