.MyAccount {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.MyAccount h1 {
    margin: 0;
}
.MyAccount .buttons {
    text-align: left;
}
.deleteAccount {
    display: grid;
    grid-template: auto 1fr / 1fr auto;
    grid-template-areas:
        'header header'
        'text button';
    justify-content: space-between;
    column-gap: 1rem;
}
.deleteAccount h2 {
    grid-area: header;
}
.deleteAccount p {
    margin: 0;
    font-size: 0.9rem;
}
.deleteAccount .buttons {
    margin: 0;
}