.ListItem {
    width: 400px;
    border-left: 2px solid #C6CBC9;
    transition: 0.2s;
}
.ListItem.grid {
    display: grid;
    align-items: center;
    grid-template: auto auto / 1fr auto;
    grid-template-areas:
        'content button'
        'content button';
}
.ListItem > div:first-of-type {
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.ListItem > div.previewButton {
    grid-area: button;
    position: relative;
}
.ListItem > div.previewButton .MiniMenu {
    right: calc(100% + 0.5rem);
    top: 0;
    z-index: 200;
}
.ListItem:only-of-type > div:first-of-type {
    padding: 1rem 0 1rem 2rem;
}
.ListItem + .ListItem > div:first-of-type {
    padding-top: 1rem;
}
.ListItem:hover {
    cursor: pointer;
    border-left-color: #666;
}
.ListItem h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.ListItem span.meta {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    opacity: 0.7;
}
.ListItem .hasStar {
    color: #52d19e;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
@media (max-width: 900px) {
    .ListItem:hover {
        border-left-color: #C6CBC9;
    }
    .ListItem h2 {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }
    .ListItem span.excerpt {
        font-size: 0.8rem;
    }
    .ListItem span.meta {
        font-size: 0.7rem;
    }
}
@media (max-width: 600px) {
    .ListItem {
        width: 100%;
    }
    .ListItem > div:first-of-type {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
    .ListItem + .ListItem > div:first-of-type {
        padding-top: 0;
    }
}