.Input > div {
    position: relative;
}

.InputHint {
    position: absolute;
    top: 0;
    right: 0.7rem;
    height: 100%;
    z-index: 500;
}
.InputHint span.inputHintIcon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    display: grid;
    place-items: center;
    animation: 0.2s fadeIn 1;
    cursor: pointer;
}
.InputHint span.inputHintIcon i {
    color: #fff;
    font-size: 0.7rem;
}
.InputHint span.inputHintMessage {
    position: absolute;
    top: 100%;
    right: 0;
    color: #fff;
    margin-top: -0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.3rem 0.6rem 0.4rem;
    line-height: 1.2;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    opacity: 0;
    transition: 0.2s;
}
.InputHint.error span {
    background: var(--caution);
}
.InputHint.success span {
    background: green;
}