.Main {
    grid-area: main;
    height: 100%;
    overflow: hidden;
}
.Main h1 {
    font-family: var(--display-font);
    font-size: 10vh;
    line-height: 1;
}
.Main.slide .List {
    animation: slideInFromLeft 0.2s 1;
}