.Guest {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Guest h1 {
    font-size: 5rem;
}
@media (max-width: 900px) {
    .Guest {
        padding: 2rem;
    }
    .Guest h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
}