.Sidebar {
    grid-area: sidebar;
    background: var(--darkest-theme-color);
    padding: 1.5rem;
    height: 100%;
    overflow: auto;
}
@media (max-width: 900px) {
    .Sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
    }
}